
AnalyticsBackend/node_modules
AnalyticsBackend/.env
AnalyticsBackend/.vscode

DataBackend/node_modules
DataBackend/.env
DataBackend/.vscode
DataBackend/web_bk.config
DataBackend/firebase/firebase.json
DataBackend/scorms

.vscode